////
//// mainHeader
////
.mainHeader
  display: flex
  justify-content: space-between
  align-items: center
  padding: 8px 0
  &__logoBlock
  &__linksBlock
    display: flex
    align-items: center
    &-links
    &-btn
      margin-left: 17px

@media (min-width: 1400px)
  .mainHeader.container
    padding-left: 30px
    padding-right: 30px
    max-width: 1400px

.mainLogo
  max-width: 284px
  display: flex
  &__img
    width: 100%


.main-header-nav-ul
  display: flex
  padding-left: 0
  margin-bottom: 0
  list-style: none
  
.main-header-nav-li
  &__a
    padding: 10px 17px
    color: $main-text-color
    font-size: 17px
    &:hover,
    &:active,
    &:focus
      color: $main-text-color

.mainHeader__linksBlock-btn>a
  margin: 0 11px
.mainHeader__linksBlock-btn>a:first-child
  margin-left: 0
.mainHeader__linksBlock-btn>a:last-child
  margin-right: 0

////
//// main-content
////


//
// section-hero-block
//

.main-content

.section-hero-block
  position: relative
  min-height: 648px
  //background-image: linear-gradient(to left, #697fd0 50%, #000f45 50%)
  background: linear-gradient(to right, rgba(0,15,69,1) 1%, rgba(105,127,208,1) 100%)
  display: flex
  align-items: center
  &__bgi
    height: 100%
    width: auto
    position: absolute
    top: 0
    bottom: 0
    right: 0
    z-index: 0
  &__content
    color: #fff
    display: flex
    flex-direction: column
    width: 35%
    margin-left: 15%
    position: relative
    z-index: 1

.section-hero-block__content
  &-title
    text-shadow: 0 2px 13px rgba(0, 0, 0, 0.21)
    font-size: 57px
    font-weight: 500
    line-height: 1.14
    letter-spacing: 1.45px
    margin-bottom: 20px
  &-sub
    margin-bottom: 30px
    text-shadow: 0 2px 17px rgba(0, 0, 0, 0.5)
    line-height: 1.5
    font-size: 18px
    max-width: 60%
    font-weight: normal
  &-btn

//
// section-touchpoints
//

.section-touchpoints
  position: relative
  min-height: 645px
  display: flex
  align-items: center
  &__content-block
    position: absolute
    right: 7%
    max-width: 350px
    z-index: 1
  &__imageBlock
    position: absolute
    left: 0
    bottom: -50px
    &-img
      max-height: 600px
      height: 100%

.section-title
  color: $main-text-color
  font-family: "AvenirNext"
  font-size: 47px
  font-weight: 700
  line-height: 1.2
  position: relative
  padding-bottom: 55px
  &::after
    content: ""
    display: block
    position: absolute
    right: calc(50% - 58px)
    width: 116px
    height: 5px
    margin-top: 25px
    margin-bottom: 25px
    background-color: $main-text-color
.section-touchpoints-title
  &::after
    left: 0

.section-touchpoints-sub
.section-sub
  color: $main-text-color
  line-height: 2.2
  font-size: 18px


  
//
// section-audience
//

.section-audience
  min-height: 900px
  background-image: url("../images/svg/buildingAudience-bg.svg")
  background-size: cover
  position: relative
  z-index: 2
  &__head
    text-align: center
    padding-top: 150px
    margin-bottom: 90px
  &__title
  &__sub
  &__body
    display: flex
    justify-content: space-between

.audience-block
  width: 270px
  text-align: center
  &__img
    display: inline-block
    width: 150px
    margin-bottom: 30px
    &-icon
      width: 100%
      height: auto
  &__title
    margin-bottom: 20px
    font-size: 27px
    line-height: 1.1
    color: #000000
    font-weight: 600
    font-family: "AvenirNext"
  &__sub
    margin-bottom: 20px

//
// section-authentic-scheme
//

.section-authentic-scheme
  background-image: url("../images/svg/path-bg.svg")
  background-repeat: no-repeat
  background-size: contain
  background-position: center
  &__head
    margin-top: 60px
    text-align: center
    max-width: 570px
    margin-bottom: 80px
  &__body
    min-height: 900px
    padding-bottom: 60px
  

.authentic-scheme-row
  max-width: 700px
  margin: 0 auto
  display: flex
  position: relative


.authentic-scheme-row-first
  // background-color: #ccc
  min-height: 400px

  &__text-block.linkedin-block
    position: absolute
    top: 0
    left: 2px
  &__hr-block
    position: absolute
    left: calc(50% - 29px)
    top: calc(50% - 29px)
    &::before
      content: ''
      display: block
      position: absolute
      width: 94px
      height: 32px
      opacity: 0.3
      border: solid 2px $medium-main-color
      border-bottom-color: transparent
      border-left-color: transparent
      top: -32px
      left: -64px
    &::after
      content: ''
      display: block
      position: absolute
      width: 94px
      height: 32px
      opacity: 0.3
      border: solid 2px $medium-main-color
      bottom: -32px
      right: -64px
      border-top-color: transparent
      border-right-color: transparent
  &__text-block.email-block
    position: absolute
    bottom: 4px
    right: 2px

.authentic-scheme-text-block
  color: #fff
  align-self: flex-start
  width: 230px
  &__title
  &__text
    background-color: $medium-main-color
    padding: 10px
    border-radius: 8px
    box-shadow: $box-shadow
    &>p
      font-size: 16px
    &>p:last-child
      margin-bottom: 0

.authentic-scheme-social-link
  display: flex
  margin-bottom: 10px
  align-items: center
  color: $main-text-color
  &__icon
    width: 25px
    height: auto
  &__text
    margin-bottom: 0
    margin-left: 10px
    font-size: 16px
    margin-top: 2px
    &:hover,
    &:active,
    &:focus
      color: $main-text-color


.authentic-scheme-hr-l
  font-size: 16px
  font-weight: 700
  color: $main-text-color
  display: flex
  width: 58px
  height: 58px
  background-color: #fff
  border-radius: 50%
  border: 1px solid #979797
  align-items: center
  justify-content: center


.authentic-scheme-row-second
  min-height: 150px
  // background-color: #eee
  display: flex
  align-items: center
  
.authentic-scheme-row-third
  min-height: 350px
  // background-color: #ddd


.authentic-scheme-social-medium-block
  display: flex
  flex-direction: column
  background-color: #3b4e93
  color: #fff
  width: 95px
  height: 95px
  border-radius: 8px
  box-shadow: $box-shadow
  align-items: center
  justify-content: center
  margin-left: 10px
  margin-right: 10px
  &__icon
    width: 30px
    height: auto
    border-radius: 50%
    background-color: #fff
    margin-bottom: 5px
  &__text
  &:hover,
  &:active,
  &:focus
    color: #fff
.authentic-scheme-social-medium-block:first-child
  margin-left: 2px

.authentic-scheme-hr-m
  display: flex
  align-items: center
  justify-content: center
  font-size: 16px
  font-weight: 700
  color: $main-text-color
  width: 34px
  height: 34px
  background-color: #fff
  border-radius: 50%
  border: 1px solid #979797
  margin-left: 10px
  margin-right: 10px
  position: relative
  z-index: 2
  &::before 
    content: ''
    display: block
    width: 10px
    position: absolute
    left: -10px
    height: 2px
    background-color: $medium-main-color
    opacity: 0.3
    z-index: 0
  &::after 
    content: ''
    display: block
    width: 10px
    position: absolute
    right: -10px
    height: 2px
    background-color: $medium-main-color
    opacity: 0.3
    z-index: 0
    
.authentic-scheme-row-second__hr-block
  margin-left: 110px
  position: relative
  &::before
    content: ''
    display: block
    width: 100px
    position: absolute
    height: 2px
    left: -100px
    background-color: $medium-main-color
    opacity: 0.3
    z-index: 0
  &::after
    content: ''
    display: block
    width: 2px
    position: absolute
    top: -33px
    height: 32px
    background-color: $medium-main-color
    opacity: 0.3
    z-index: 0
    
.authentic-scheme-row-third
  
.authentic-scheme-row-third__hr-block
  position: absolute
  top: 80px
  left: 20px
  &::after
    content: ''
    display: block
    width: 68px
    height: 120px
    position: absolute
    border: 2px solid $medium-main-color
    border-top-color: transparent
    border-right-color: transparent
    bottom: -120px
    right: -40px
    opacity: 0.3
    z-index: 0
  &::before
    content: ''
    display: block
    width: 2px
    height: 88px
    position: absolute
    top: -89px
    background-color: $medium-main-color
    opacity: 0.3
    z-index: 0
.authentic-scheme-row-third__text-block
  align-self: flex-end
  margin-left: 140px
.authentic-scheme-row-third__conversion-icon
  position: absolute
  bottom: 15px
  right: 30px
  width: 162px
  height: 162px
  &-img
    width: 100%
    height: auto
  &::before
    content: ''
    display: block
    width: 96px
    height: 2px
    position: absolute
    top: 81px
    left: -116px
    background-color: $medium-main-color
    opacity: 0.3
    z-index: 0




//
// section-reach-company
//


.section-reach-company
  background-image: url("../images/Rectangle Copy 173.png")
  background-repeat: no-repeat
  background-size: cover
  position: relative
  color: #fff
  min-height: 700px
  overflow: hidden
  display: flex
  align-items: center
  justify-content: center
  &__left-icon
    position: absolute
    bottom: -275px
    left: 0
    max-width: 420px
    z-index: 0
  &__right-icon
    position: absolute
    right: 0
    top: 0
    max-width: 450px
    z-index: 0
  &__content
    position: relative
    z-index: 1
    max-width: 600px
    text-align: center
    color: #fff

.reach-company-content
  &__title
    color: #fff
    &::after
      background-color: #fff
  &__sub
    color: #fff
    margin-bottom: 60px

.reach-company-content-form
  &__text-input
    text-align: center
    width: 370px
    padding: 5px 20px
    font-size: 18px
    line-height: 2.2
    color: $main-text-color
    border: 1px solid $main-text-color
    border-radius: 8px
    margin-bottom: 50px
    &::placeholder
      color: $grey-color
  &__submit-input
    border-radius: 50px
    background-color: $blue-color
    border: 1px solid $blue-color
    box-shadow: $box-shadow
    font-size: 18px
    font-weight: 500
    letter-spacing: 0.45px
    color: $main-text-color
    padding: 10px 42px
    &:hover,
    &:active,
    &:focus
      box-shadow: $box-shadow-active


////
//// footer-main
////

.footer-main
  padding-top: 120px
  padding-bottom: 20px

@media (min-width: 1400px)
  .footer-widget-3
    margin-left: auto
    max-width: 250px

//
// nav-footer
//

.nav-footer-container
  display: flex
  justify-content: space-around
  color: $main-text-color


.nav-footer-ul
  padding-left: 0
  margin-bottom: 20px
  list-style: none
.nav-footer-ul-li
  &__a
    color: $main-text-color
    font-size: 17px
    padding: 5px
    display: block
    &:hover,
    &:active,
    &:focus
      color: $main-text-color


.footer-sign-form
  display: flex
  margin-bottom: 20px
  &__text
    width: 100%
    color: $main-text-color
    border: 2px solid $main-text-color
    padding: 5px 10px
    font-size: 17px
  &__submit
    font-size: 12px
    font-weight: 500
    color: #fff
    border: 2px solid $main-text-color
    background-color: $main-text-color
    padding: 5px 30px


.footer-social-nav
  display: flex
  justify-content: space-between
  &__a
    max-width: 42px
    &-img
      width: 100%


.footer-copyright-row
  margin-top: 60px
.footer-copyright
  text-align: center